{
    "extends": ["react-app", "react-app/jest", "prettier", "eslint-config-prettier"],
    "plugins": ["prettier", "eslint-plugin-prettier"],
    "rules": {
        "import/first": 0,
        "prettier": ["error", { "singleQuote": true}]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6"
    },
    "parser": "@babel/eslint-parser"
}